.Footer-Container {
  position: relative;
}

.Footer-Container > hr {
  border: 1px solid var(--lightgray);
}

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.social-liknks {
  display: flex;
  gap: 4rem;
}
.social-liknks > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
